.modal {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
}

.hero-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-bg {
  background-color: rgba(255, 255, 255, 0.95);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none; /* Changed to 'none' to be overridden by modal-active */
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s, visibility 0.5s;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 700px;
  position: relative;
  overflow: hidden;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  text-decoration: none;
  color: #333;
}

.popup .content .overflow-auto {
  max-height: 400px;
  overflow-y: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-background {
      padding-top: 120px; /* Adjust the padding to accommodate the fixed navbar */
  }
  .grid {
      grid-template-columns: repeat(1, minmax(0, 1fr)); /* Make the grid layout single column on smaller screens */
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-green {
  background-color: #22543d; /* Using a dark green color */
  color: white;
}

.btn-close {
  color: #22543d; /* Using a dark green color */
  box-shadow: 0 2px 5px 0 rgba(34, 84, 61, 0.3); /* Dark green box shadow */
}

.input-field {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.close-modal {
  font-size: 1.5rem;
  cursor: pointer;
  color: #22543d; /* Using a dark green color */
  transition: color 0.2s;
}

.close-modal:hover,
.btn-close:hover {
  color: #1c4532; /* A slightly darker green for hover state */
  text-decoration: none;
}

/* Updated to control visibility and display of the overlay */
.modal-active {
  display: flex; /* This will now apply to the overlay */
  visibility: visible; /* Make the overlay visible */
  opacity: 1; /* Fully opaque */
}

